<div class="container">
    <div class="header">
        <h1>Hello</h1>
      </div>
    <form>
      <div class="form-group content">
        <div class="row">
          <div class="col-12 col-md-auto">
              <label for="exampleInputName2">Email</label>
          </div>
          <div class="col">
              <input type="text" class="form-control" id="email" placeholder="Partner email Id">    
          </div>
          <div class="col col-lg-2">
              <button type="submit" class="btn btn-primary">Invite</button>
          </div>
        </div>
      </div>
      
      <!-- <div class="form-group">
        <div class="offset-sm-10 col-sm-7 pull-right">
          <button type="submit" class="btn btn-primary">Invite</button>
        </div>
      </div>  -->
    </form>
  <!-- </fieldset> -->
</div>