<div class="container">
    <div class="header">
        <h1>Hello</h1>
      </div>
    <form (submit)="onSubmit()">
      <div class="form-group content">
        <div class="row">
          <div class="col-12 col-md-auto">
              <label for="exampleInputName2">Email</label>
          </div>
          <div class="col">
              <input type="text" class="form-control" name="email" [(ngModel)]="email"placeholder="Partner email Id">    
          </div>
          <div class="col col-lg-2">
              <button type="submit" class="btn btn-primary">Invite</button>
          </div>
        </div>
      </div>
    </form>
</div>