<!-- navbar -->
  <!-- {{ user | json }} -->
  <div class="row head">
    <div class="col-md-9">
        <h4>Hello, {{ user.firstName }}</h4>
        <!-- <h4>Hello, {{ user.firstName }}! <span *ngIf="partner">Your partner is: {{partner.firstName}}.</span></h4> -->
      </div>
      <div class="col-md-2">
        <div class="links">
          <a [routerLink]="['/dashboard']">Back to Dashboard</a>
        </div>
      </div>
      <div class="col-md-1">
        <div class="links">
          <button class="btn btn-outline-dark float-right" (click)="logout()">Logout</button>
        </div>
      </div>
    </div>
<!-- 
  
  <div class="col">
    <div ngbDropdown class="d-inline-block text-right">
      <button class="btn btn-outline-primary float-right" id="dropdownBasic1" ngbDropdownToggle>Actions</button>
      <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
        <button class="dropdown-item" [routerLink]="['/quiz']">Edit Interests</button>
        <button class="dropdown-item" [routerLink]="['/confirmlove']">Confirm Love</button>
        <button class="dropdown-item" [routerLink]="['/invite']">Invite Partner</button>
        <button class="dropdown-item" [routerLink]="['/freqset']">Partner Interests</button>
        <button class="dropdown-item" [routerLink]="['/item']">Add Calendar Event</button>
        <button class="dropdown-item" [routerLink]="['/requests']">Partner requests</button>
      </div>
    </div>
    <button class="btn btn-outline-primary float-right" [routerLink]="['/']">Logout</button>
  </div> 
</div> -->
<!-- Main Content -->
<div class="container">
  <div class="container">
    <p>Search for your partner:</p>
    <form (submit)="findPartner()" class="form-inline">
      <div class="form-group">
        <label for="search">Search: </label>
        <input type="email" [(ngModel)]="partner_email" class="form-control" name="search" placeholder="Enter partner's email">
      </div>
      <button type="submit" class="btn btn-primary">Search</button>
    </form>
  </div>
  <div *ngIf="partner != null && partner_match">
    <form (submit)=request()>
      <p *ngIf="partner.email == user.email">Sorry, you can't add yourself as a partner.</p>
      <div *ngIf="partner.email != user.email">
        <p>A Love Fool account associated with {{ partner.email }} exists. Would you like to send a link request to this user?</p>
        <button type="submit" class="btn btn-primary">Yes, send request to link accounts.</button>
      </div>
    </form>
  </div>
  <br>
  <div class="container" *ngIf="!partner">
    <p>Couldn't find {{found_user}}? Invite them to join Love Fool!</p>
    <form (submit)="onSubmit(formdata)" #formdata="ngForm" class="form-inline">
      <div class="form-group">
        <label for="search">Invite partner: </label>
        <input type="email" class="form-control" name="search" [(ngModel)]="email.email" placeholder="Enter email">
      </div>
      <button type="submit" class="btn btn-primary">Invite</button>
    </form>
  </div>
</div>