<div class="container">
  <div class="header">
    <div class="links">
      <a [routerLink]="['/dashboard']">Back to Dashboard</a>
    </div>
    <h1>hello</h1>
  </div>
  <div class="content">
    <div>
      <label for=""> Category 1:</label>
      <select name="" id="">
        <option value="">1</option>
        <option value="">2</option>
      </select>
      <select name="" id="">
        <option value="">Weekly</option>
        <option value="">Monthly</option>
        <option value="">Yearly</option>
      </select>
    </div>
    <div>
      <label for=""> Category 1:</label>
      <select name="" id="">
        <option value="">1</option>
        <option value="">2</option>
      </select>
      <select name="" id="">
        <option value="">Weekly</option>
        <option value="">Monthly</option>
        <option value="">Yearly</option>
      </select>
    </div>
    <div>
        <label for=""> Category 1:</label>
        <select name="" id="">
          <option value="">1</option>
          <option value="">2</option>
        </select>
        <select name="" id="">
          <option value="">Weekly</option>
          <option value="">Monthly</option>
          <option value="">Yearly</option>
        </select>
      </div>
    <div class="offset-sm-5  pull-right">
      <button type="button" class="btn btn-primary">Save</button>
    </div>
  </div>
</div>