<div class="container">

  <div class="row head">
    <div class="col-md-9">
      <h4>Hello, {{ user.firstName }}</h4>
      <!-- <h4>Hello, {{ user.firstName }}! <span *ngIf="partner">Your partner is: {{partner.firstName}}.</span></h4> -->
    </div>
    <div class="col-md-2">
      <div class="links">
        <a [routerLink]="['/dashboard']">Back to Dashboard</a>
      </div>
    </div>
    <div class="col-md-1">
      <div class="links">
        <button class="btn btn-outline-dark float-right" (click)="logout()">Logout</button>
      </div>
    </div>
  </div>

  <div class="content">
    <form (submit)="saveFrequency()">
      <div>
        <table class="table">
          <thead>
            <tr>
              <th>Partner Interests</th>
              <th>Frequency</th>
              <th>Per</th>
            </tr>
          </thead>
          <tbody *ngFor="let interest of partner.interests; let idx=index">
            <tr>
              <td class="titlerow">
                {{interest.name}}
              </td>
            </tr>
            <tr *ngFor="let subcategory of interest.subcategories; let idx2=index">
              <td scope="row">{{ subcategory.title }}</td>
              <td>
                <select name="subcategory" [(ngModel)]="freq_arr[idx].subcategories[idx2].frequency">
                  <option *ngFor="let num of [1,2,3,4,5,6,7]">{{ num }}</option>
                </select>
              </td>
              <td>
                <select name="per" [(ngModel)]="freq_arr[idx].subcategories[idx2].per">
                  <option>Day</option>
                  <option>Week</option>
                  <option>Month</option>
                </select>
              </td>
            </tr>
          </tbody>
        </table>

      </div>
      <div class="offset-sm-5  pull-right">
        <button type="submit" class="btn btn-primary">Save</button>
      </div>
    </form>
  </div>
</div>
