<div class="confirm-container">

  <div class="header">
    <div class="row head">
      <div class="col-md-7">
        <!-- <h4>Hello, {{ user.firstName }}! <span *ngIf="partner">Your partner is: {{partner.firstName}}.</span></h4> -->
        <h3>Hi {{firstName}}, here is your partner events</h3>
      </div>
      <div class="col-md-4">
        <div class="links">
          <a [routerLink]="['/dashboard']">Back to Dashboard</a>
        </div>
      </div>
      <div class="col-md-1">
        <button class="btn btn-outline-dark" (click)="logout()">Logout</button>
      </div>

    </div>
  </div>
  <div class="content">
    <table class="table">
      <thead>
        <tr>
          <th>Love Item</th>
          <th>Date</th>
          <th>Points</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let event of pastEvent">
          <td>{{event.title}}</td>
          <td>{{event.start | date:'short'}}</td>
          <td class="text-center">20</td>
          <td>
            <button class="btn btn-success btn-sm" (click)="confirmLove(event)">Confirm</button>
            <button class="btn btn-danger btn-sm" (click)="denyLove(event.start)">Deny</button>
          </td>
        </tr>

      </tbody>
    </table>
  </div>
</div>
