<div class="container">
  <div class="row">
    <div class="col-md-10">
      <h4>Put the question and options here:</h4>
    </div>
    <div class="col-md-2">
        <a id="link" (click)="onCancel()">Cancel</a>
    </div>
  </div>
  <div class="container">
    <form class="form-control" method="post" (submit)="onSubmit()">
      <!-- <div class="form-control"> -->
        <label for="name">Question: </label>
        <input id="que" type="text" name="question" [(ngModel)]=question.question placeholder="Enter name here"><br>
        <label for="name">Option 1: </label>
        <input type="text" name="opt1" [(ngModel)]=question.options[0] placeholder="Enter name here"><br> 
        <label for="name">Option 2: </label>
        <input type="text" name="opt2" [(ngModel)]=question.options[1] placeholder="Enter name here"><br>
        <label for="name">Option 3: </label>
        <input type="text" name="opt3" [(ngModel)]=question.options[2] placeholder="Enter name here"><br>
        <label for="name">Option 4: </label>
        <input type="text" name="opt4" [(ngModel)]=question.options[3] placeholder="Enter name here">   <br>     
      <!-- </div> -->
      <button type="submit" class="btn btn-primary">Create Poll</button>
    </form>
  </div>
</div>