.container{
    border: 2px solid gray;
    /* margin: 20px; */
    width: 100%;
}
.link{
    color: blue;
    text-decoration: underline;
}
#link{
    color: blue;
    text-decoration: underline;
}

#search{
    margin-left: 950px;
}
.content{
    display: inline-block;
}
.blc{
    display: inline-block;
   border: 2px solid black;
   margin: 5px;
   background-image: url("/assets/images/Makeup.jpg");
   width: 150px;
   height: 150px;

}
/* img{
    width: 10%;
} */