.container{
    padding: 0px;
    /* margin: 20px; */
    width: 100%;
}
.link{
    color: blue;
    text-decoration: underline;
}
#link{
    color: blue;
    text-decoration: underline;
}

#search{
    margin-left: 950px;
}
.content{
    display: inline-block;
}
.blc{
   display: inline-block;
   margin: 2px;
   width: 250px;
   height: 200px;
   padding: 5px;
}

.border_green {
    border: 4px solid green;
}

.border_red {
    border: 4px solid black;
}

.wrapper {
    text-align: center;
}

.check {
    height: 30px;
    width: 30px;
}

.checkimg {
    height: 30px;
    width: 30px;
    top: -130px;
    left: 0px;
    position: relative;
}

.catimg {
    width: 200px;
    margin: 0px auto;
}

