<div class="container">
  <div class="row">
    <div class="col-md-7">
      <h3></h3>
    </div>
    <div class="col-md-2">
      <a id="link" (click)="goToPoll()">Go to Polls</a>
    </div>
    <div class="col-md-3">
      <a id="link" (click)="goToPoll()">Go to Polls</a>
    </div>
  </div>

  {{ user_profile | json }}

  <div class="container">
    <h3>Let's get a little more specific ...</h3>
    <form>
      <div class="category" *ngFor="let category of categories; let idx=index">
        <fieldset *ngIf="category_boolean[idx]">
          <div *ngIf="category_boolean[idx]">
            <legend>{{ category.name }}</legend>
            <div *ngFor="let item of category.subcategories; let idx2=index">
              <div *ngIf="item.name">
                <label for="{{item.name}}">{{item.name}}</label>
                <input type="checkbox" class="form-check-input" [(ngModel)]="user_profile[idx].subcategories[idx2].keep" name="{{item.name}}" *ngIf="item.name">
              </div>
            </div>
          </div>
        </fieldset>
      </div>
      <button type="button" (click)="addInterests()" class="btn btn-primary float-right">Finish</button>
    </form>
  </div>