.container{
    padding: 0px;
    /* margin: 20px; */
    width: 100%;
    background-color:rgba(116, 136, 223, 0.507);
}
.head{
    padding: 20px;
 }
#link{
    /* color: blue; */
    text-decoration: underline;
}

fieldset {
    padding: 5px;
    border: 1px solid gray;
}

input {
    margin: 10px;
}

.category {
    margin: 10px;
}

