<div class="container">
  <div class="row head">
    <div class="col-md-9">
      <h3>Let's get a little more specific ...</h3>
    </div>
    <div class="col-md-2">
      <a id="link" (click)="goToQuiz()">
        <button type="button" class="btn btn-link"></button>
        Back to Interests
      </a>
    </div>
  </div>
  <form>
    <div class="category" *ngFor="let category of categories; let idx=index">
      <fieldset *ngIf="category_boolean[idx]">
        <div *ngIf="category_boolean[idx]">
          <legend>{{ category.name }}</legend>
          <div *ngFor="let item of category.subcategories; let idx2=index">
            <div *ngIf="item.title">
              <label for="{{item.title}}">{{item.title}}</label>
              <input type="checkbox" class="form-check-input" [(ngModel)]="user_profile[idx].subcategories[idx2].keep" name="{{item.title}}"
                *ngIf="item.title">
            </div>
          </div>
        </div>
      </fieldset>
    </div>
    <div class="row">
      <div class="col-md-12 text-center">
        <button type="button" (click)="addInterests()" class="btn btn-dark">Finish</button>
      </div>
    </div>
  </form>
</div>