<script src="node_modules/chart.js/src/chart.js"></script>

<div class="container">
    <!-- navbar -->
    <div class="row head">
        <div class="col-md-9">
            <h4>Hello, {{ user.firstName }}</h4>
        </div>
        <div class="col-md-2">
            <div ngbDropdown class="d-inline-block text-right">
                <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" id="dropdownBasic1" ngbDropdownToggle>
                    <!-- <button class="btn btn-outline-primary float-right" id="dropdownBasic1" ngbDropdownToggle> -->
                    Menu</button>
                <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                    <button class="dropdown-item" [routerLink]="['/quiz']">Edit Interests</button>
                    <button class="dropdown-item" [routerLink]="['/confirmlove']">Confirm Love</button>
                    <button class="dropdown-item" [routerLink]="['/invite']">Find Partner</button>
                    <button class="dropdown-item" [routerLink]="['/freqset']">Partner Interests</button>
                    <button class="dropdown-item" [routerLink]="['/item']">Add Calendar Event</button>
                    <button class="dropdown-item" [routerLink]="['/requests']">Partner requests</button>
                </div>
            </div>
        </div>
        <div class="col-md-1">
            <button class="btn btn-outline-dark float-right" (click)="onLogout()">Logout</button>
        </div>

    </div>
    <!-- Main Content Area -->
    <div class="content">
        <!-- Calendar -->
        <mwl-demo-utils-calendar-header [(view)]="view" [(viewDate)]="viewDate">
        </mwl-demo-utils-calendar-header>
        <button (click)='onGenerate()'>Generate new events!</button>

        <div class="calendar" [ngSwitch]="view">
            <mwl-calendar-month-view *ngSwitchCase="'month'" [viewDate]="viewDate" [events]="events" [activeDayIsOpen]="activeday" (dayClicked)="dayClicked($event.day)"
                (eventClicked)="eventClicked($event)">
            </mwl-calendar-month-view>
            <mwl-calendar-week-view *ngSwitchCase="'week'" [viewDate]="viewDate" [events]="events" (eventClicked)="eventClicked($event)">
            </mwl-calendar-week-view>
            <mwl-calendar-day-view *ngSwitchCase="'day'" [viewDate]="viewDate" [events]="events" (eventClicked)="eventClicked($event)">
            </mwl-calendar-day-view>
        </div>
        <button (click)='onGenerate()'>Generate new events!</button>
        <!-- Chart -->
        <br>
        <br>
        <div class="chart">
            <canvas baseChart width="400" height="200" [datasets]="lineChartData" [labels]="lineChartLabels" [options]="lineChartOptions"
                [colors]="lineChartColors" [legend]="lineChartLegend" [chartType]="lineChartType" (chartHover)="chartHovered($event)"
                (chartClick)="chartClicked($event)"></canvas>
        </div>
    </div>
</div>