<div class="container">
    <!-- navbar -->
    <div class="row" style="border: 1px solid grey;">
        <div class="col-md-4">
            <h4>Hello, username</h4>
        </div>
        <div class="col-md-6">
            <!-- adjust layout -->
            <a [routerLink]="['/quiz']">Edit Interests</a>
            <a [routerLink]="['/confirmlove']">Confirm Love</a>
            <a [routerLink]="['/invite']">Invite Partner</a>
            <a [routerLink]="['/freqset']">Partner Interests</a>
            <a [routerLink]="['/item']">Add Calendar Event</a>
            <a [routerLink]="['/requests']">Partner requests</a>
        </div>
        <div class="col-md-2">
            <a [routerLink]="['/']">Logout</a>
        </div>
    </div>
    <!-- main content -->
    <div class="container">

    </div>
</div>