<script src="node_modules/chart.js/src/chart.js"></script>

<ng-template #modalContent let-close="close">
    <div class = "modal-body" *ngIf="modalData?.action == 'Clicked Blanck' ">
        <div>
            Event title: <input type='text' [(ngModel)]='modalData?.event.title'> 
            <!-- <pre>{{ modalData?.event.title }}</pre> -->
        </div>
        <div>
            Event date:  
            <!-- <pre>{{ modalData?.event.start|date:"longDate" }}</pre> -->
        </div>
        <button (click)="addEvent()">Create new event</button>
    </div>
    <div class = "modal-body" *ngIf="modalData?.action == 'Clicked' ">
        <div>
            {{user.firstName}} does 
            <pre>{{ modalData?.event.title }}</pre>
        </div>
        <div>
            on 
            <pre>{{ modalData?.event.start|date:"longDate" }}</pre>
        </div>
    </div>
    <div *ngIf="modalData?.action == 'Clicked placeholder' ">
    <div class="modal-header">
      <h5 class="modal-title">Event action occurred</h5>
      <button type="button" class="close" (click)="close()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div>
        Action:
        <pre>{{ modalData?.action }}</pre>
      </div>
      <div>
        Event:
        <pre>{{ modalData?.event | json }}</pre>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-secondary" (click)="close()">OK</button>
    </div>
    </div>
  </ng-template>

<div class="container">
    <!-- navbar -->
    <div class="row head">
        <div class="col-md-9">
            <h4 id="welcome">Hello, {{ user.firstName }}!
                <span *ngIf="partner">Your partner is: {{partner.firstName}}.</span>
            </h4>
        </div>
        <div class="col-md-2">
            <div ngbDropdown class="d-inline-block text-right">
                <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" id="dropdownBasic1" ngbDropdownToggle>
                    <!-- <button class="btn btn-outline-primary float-right" id="dropdownBasic1" ngbDropdownToggle> -->
                    Menu</button>
                <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                    <button class="dropdown-item" [routerLink]="['/quiz']">Edit Interests</button>
                    <button class="dropdown-item" [routerLink]="['/confirmlove']">Confirm Love</button>
                    <button class="dropdown-item" [routerLink]="['/invite']">Find Partner</button>
                    <button class="dropdown-item" [routerLink]="['/freqset']">Partner Interests</button>
                    <button class="dropdown-item" [routerLink]="['/item']">Add Calendar Event</button>
                    <button class="dropdown-item" [routerLink]="['/requests']" *ngIf="pendingRequests != 0">Partner requests
                        <span class="badge badge-danger">{{pendingRequests}}</span>
                    </button>
                    <button class="dropdown-item" *ngIf="pendingRequests == 0" disabled>Partner requests
                        <span class="badge badge-secondary">{{pendingRequests}}</span>
                    </button>
                </div>               
            </div>
        </div>
        <div class="col-md-1">
            <button class="btn btn-outline-dark float-right" (click)="logout()">Logout</button>
        </div>

    </div>
    <!-- Main Content Area -->
    <div class="content">
        <!-- Calendar -->
        <div class="row text-center">
            <div class="col-md-4">
              <div class="btn-group">
                <div
                  class="btn btn-primary"
                  mwlCalendarPreviousView
                  [view]="view"
                  [(viewDate)]="viewDate"
                  (viewDateChange)="activeDayIsOpen = false">
                  Previous
                </div>
                <div
                  class="btn btn-outline-secondary"
                  mwlCalendarToday
                  [(viewDate)]="viewDate">
                  Today
                </div>
                <div
                  class="btn btn-primary"
                  mwlCalendarNextView
                  [view]="view"
                  [(viewDate)]="viewDate"
                  (viewDateChange)="activeDayIsOpen = false">
                  Next
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h3>
            </div>
            <div class="col-md-4">
              <div class="btn-group">
                <div
                  class="btn btn-primary"
                  (click)="view = 'month'"
                  [class.active]="view === 'month'">
                  Month
                </div>
                <div
                  class="btn btn-primary"
                  (click)="view = 'week'"
                  [class.active]="view === 'week'">
                  Week
                </div>
                <div
                  class="btn btn-primary"
                  (click)="view = 'day'"
                  [class.active]="view === 'day'">
                  Day
                </div>
              </div>
            </div>
          </div>
          <br>
          <div [ngSwitch]="view">
            <mwl-calendar-month-view
              *ngSwitchCase="'month'"
              [viewDate]="viewDate"
              [events]="events"
              [refresh]="refresh"
              [activeDayIsOpen]="activeDayIsOpen"
              (dayClicked)="dayClicked($event.day)"
              (eventClicked)="handleEvent('Clicked', $event.event)"
              (eventTimesChanged)="eventTimesChanged($event)">
            </mwl-calendar-month-view>
            <mwl-calendar-week-view
              *ngSwitchCase="'week'"
              [viewDate]="viewDate"
              [events]="events"
              [refresh]="refresh"
              (eventClicked)="handleEvent('Clicked', $event.event)"
              (eventTimesChanged)="eventTimesChanged($event)">
            </mwl-calendar-week-view>
            <mwl-calendar-day-view
              *ngSwitchCase="'day'"
              [viewDate]="viewDate"
              [events]="events"
              [refresh]="refresh"
              (eventClicked)="handleEvent('Clicked', $event.event)"
              (eventTimesChanged)="eventTimesChanged($event)">
            </mwl-calendar-day-view>
        </div>
        <!-- <button  class="btn btn-warning" (click)='onGenerate()'>Generate new events!</button> -->
        <!-- Chart -->
        <br>
        <br>
        <!-- <div class="chart">
            <canvas baseChart width="400" height="200" [datasets]="lineChartData" [labels]="lineChartLabels" [options]="lineChartOptions"
                [colors]="lineChartColors" [legend]="lineChartLegend" [chartType]="lineChartType" (chartHover)="chartHovered($event)"
                (chartClick)="chartClicked($event)"></canvas>
        </div> -->
        <h3 *ngIf="user.point">Your love points: {{user.point}}</h3>
        <h3 *ngIf="partner && partner.point">Your partner's points:
            <span>{{partner.point}}</span>
        </h3>
    </div>
</div>