<div class="container">
  <div class="row head">
    <div class="col-md-9">
      <h4>Hello, {{ user.firstName }}</h4>
      <!-- <h4>Hello, {{ user.firstName }}! <span *ngIf="partner">Your partner is: {{partner.firstName}}.</span></h4> -->
    </div>
    <div class="col-md-2">
      <div class="links">
        <a [routerLink]="['/dashboard']">Back to Dashboard</a>
      </div>
    </div>
    <div class="col-md-1">
      <div class="links">
        <button class="btn btn-outline-dark float-right" (click)="logout()">Logout</button>
      </div>
    </div>
  </div>
  <div class="header">
    <h1>New Event</h1>
  </div>
  <div class="content">

    <form (submit)="onSubmit()">
      <div class="form-group">
        <label for="title">Title</label>
        <input type="text"
          class="form-control" name="title" id="title" aria-describedby="helpId" placeholder="">
      </div>
      <div class="form-group">
        <label for="location">Location</label>
        <input type="text" class="form-control" name="location" id="location" aria-describedby="helpId" placeholder="">
      </div>
      <div class="form-group">
        <label for="eDate">Date</label>
        <input type="date"
          class="form-control" name="eDate" id="eDate" aria-describedby="helpId" placeholder="">
      </div>
      <div class="form-group">
        <label for="comment">Comments</label>
        <textarea class="form-control" name="comment" id="comment" rows="3"></textarea>
      </div>
      <button type="submit" class="btn btn-primary">Create Event</button>
    </form>
  </div>
</div>
